
.page.theme_dark {
  --accent-color:#FF0070;
  --hover-color:rgba(255, 0, 112, 0.4);
  --header-footer-text-color:#DB00FF;
  --subheading-text-color: #000028;
  --text-color:#F1B2CE;
  --bg-color:#000028;
  --cover-image-url: url(../images/cover-image-dark.png);
}
