
.page.theme_dark {
  --text-color: #F1B2CE;
  --accent-color:#FF0070;
  --header-footer-text-color:#DB00FF;
  --header-footer-accent-color: #FF0070;
  --title-text-color: #FF0070;
  --subtitle-text-color: #000028;
  --hover-color:#FF0070;
  --bg-color:#000028;
  --cover-image-url: url(../images/cover-image-dark.png);
}

.theme_dark .header__decorative-element{
  display: flex;
}