.page.theme_light {
  --text-color:#353430;
  --accent-color:#ff8dcb;
  --header-footer-text-color:#ffc2e6;
  --header-footer-accent-color: #353430;
  --title-text-color: #353430;
  --subtitle-text-color: #353430;
  --hover-color:#353430;
  --bg-color:#FFF1F7;
  --cover-image-url: url(../images/cover-image-light.png);
}

.theme_light .header__decorative-element{
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --text-color:#353430;
    --accent-color:#ff8dcb;
    --header-footer-text-color:#ffc2e6;
    --header-footer-accent-color: #353430;
    --title-text-color: #353430;
    --subtitle-text-color: #353430;
    --hover-color:#353430;
    --bg-color:#FFF1F7;
    --cover-image-url: url(../images/cover-image-light.png);  
    }

  .header__decorative-element{
    display: none;
  }
}