/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  font-family:var(--main-font, sans-serif);
  background: var(--bg-color, #000028);
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem) 0;
  gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}
.header {
  position: relative;
  background: url(../images/cover-image-dark.png) center center / cover no-repeat;
  min-block-size: 668px;
  background-size: calc(100% + 2 * clamp(10px, 1.3073rem + 5.0891vi, 20px));
  /* inline-size: calc(100% + 2 * clamp(10px, 1.3073rem + 5.0891vi, 20px));
  inset-inline-end: clamp(10px, 1.3073rem + 5.0891vi, 20px); */
}
.header__title {
  font-size: clamp(7.25rem, 10.8974rem + -15.5624vw, 0.9375rem);
  font-weight: 700;
  line-height: 83%;
  color:var(--accent-color,#DB00FF)
}

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-color, #000028);
  background:var(--main-accent-color, #FF0070);
}

.content {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.difficulties {
  display: grid;
  gap: 10px;
  margin-block-start: clamp(-1.25rem, -0.0286rem - 2.5445vw, -0.625rem);
}
.heading {
  color: var(--main-accent-color, #FF0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin-block-end: 10px;
}
.subheading {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-color, #000028);
  background:var(--main-accent-color, #FF0070);
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color, #F1B2CE);
}

.description a {
  text-shadow: 1px 1px 0 var(--main-accent-color, #FF0070);
}

.factors {
  display: grid;
  gap: 10px;
}

.advices {
  display: grid;
  gap: 10px;
}

.advice{
  font-family:var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--bg-color, #000028);
  background:var(--main-accent-color, #FF0070);
}

.images {
  display: grid;
  gap: 10px;
}
.footer {
  margin-block-start: clamp(-1.25rem, -0.0286rem - 2.5445vw, -0.625rem);
}