/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  font-family:var(--main-font, sans-serif);
  background: var(--bg-color, #000028);
  gap: clamp(2.5rem, 1.3073rem + 5.0891vi, 3.75rem);
  font-size: 18px;
}
.header, .footer {
  min-block-size: 668px;
  padding: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  color: var(--header-footer-accent-color, #FF0070);
}

.header {
  display: grid;
  background: var(--cover-image-url) center center / cover no-repeat;
  background-attachment: fixed;
  grid-template-rows: 1fr min-content 1fr;
}

.footer {
display: flex;
}

.header, .footer {
  position: relative;
  &::after{
    content:"";
    position: absolute;
    inset-inline-start: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
    inset-block-end: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
    inline-size: 25px;
    block-size: 25px;
    border-block-end:1px solid currentColor;
    border-inline-start:1px solid currentColor;
  };
  &::before{
    content:"";
    inset-inline-end: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem));
    inset-block-start: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem));
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-block-start:1px solid currentColor;
    border-inline-end:1px solid currentColor;
  }
}

.header__decorative-element {
  position: absolute;
  display: flex;
  inline-size: 61px;
  block-size: 26px;
  inset-block-start: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem));
  inset-inline-end: var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem));
  color:currentColor;
  font-size: 18px;
  &:after {
    content:"";
    margin: auto;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px currentColor;
    background-color:currentColor;
  }
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background:transparent;
  padding: 3px 13px;
  font-size: inherit;
  line-height: 100%;
  color:currentColor;
  border: none;
  border-block-end: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  text-transform: lowerCase;
  &:focus {
    outline:none;
  };

  &:focus-visible {
    border-block-end: 1px solid currentColor;
  };

  &:hover {
    outline:1px solid rgb(from var(--hover-color) r g b / .4);
  };
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}


.header__title, .footer__title {
  position: relative;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  inset-inline-end: var(--padding-variation,clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem));
  color:var(--header-footer-text-color,#DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  @media (min-width: 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vi, 9.8125rem);
  };
}

.footer__title {
  margin: auto;
}

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  align-self: center;
  justify-self: end;
  inline-size: max(355px, calc(50% - 40px));
  
}

.title-decor{
  color: var(--subtitle-text-color, #000028);
  background:var(--accent-color, #FF0070);
}

.content {
  display: grid;
  gap: 50px;
  padding: 0 var(--padding-variation, clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem)) 0;
}

.difficulties {
  display: grid;
  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
  };
}

.article {
 display: grid;
 gap:10px
}
.difficulties .heading {
  grid-row: 1/-1;
  color: var(--title-text-color, #FF0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}
.subheading {
  font-weight: 700;
  font-size: 18px;
}

.subheading_thin {
  font-weight: 400;
}

.description {
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color, #F1B2CE);
}

.description a {
  text-underline-offset: 4px;
  text-shadow: 1px 1px 0 var(--accent-color, #FF0070);
}

.factors {
  display: grid;
  gap: 20px;
}

.advices {
  display: grid;
  gap: 20px;
}

.images {
  display: grid;
  gap: 10px;
}

.images__item {
  object-fit: cover;
  width: 100%;
}

.footer {
  
}
