/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font:'IBM Plex mono';
  --accent-color:#FF0070;
  --header-footer-text-color:#DB00FF;
  --text-color:#F1B2CE;
  --bg-color:#000028;
  --padding-variation: clamp(0.625rem, 0.0286rem + 2.5445vi, 1.25rem);
}